<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="js/about.js"></script>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="container">
    <div class="row bg-light border py-2">
        <div class="col-md-4">
            <input type="date" name="" id="" class="form-control" value="<%=fechaActual %>">
        </div>
        <div class="col-md-4">
            <button class="btn btn-success btn-sm">Buscar</button>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-8">
        <h1>Reporte de ventas</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Metodo Pago</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% if(ventas.length > 0) { %>
                <% for(var i=0; i<ventas.length; i++) { %>
                    <tr>
                        <td><%= ventas[i].nombreCliente %></td>
                        <td><%= ventas[i].metodoPagoSeleccionado %></td>
                        <td><%= ventas[i].total %></td>
                        <td><button class="btn btn-success btn-sm" onclick="detalleVenta(<%=ventas[i].numeroCarrito %>)" data-bs-toggle="modal" data-bs-target="#modalDetalleVenta">Detalle</button></td>
                    </tr>
                <% } %>
                <% } else { %>
                    <tr>
                        <td colspan="4">No hay ventas registradas</td>
                    </tr>
                <% } %>
            </tbody>

        </table>
    </div>
    <div class="col-4">
        <h1>Gráfica</h1>
        <img src="https://support.content.office.net/es-es/media/5f8252c4-09fd-40a1-ae03-1d498f9dedfd.png" alt="" class="w-100">
    </div>
    <div class="col-12">
        
       
        
    </div>
</div>
<!-- Modal detalle venta-->
<div class="modal fade" id="modalDetalleVenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Información Venta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>SubTotal</th>
                    </tr>
                </thead>
                <tbody id="detalleVentaBody">
                    
                </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<!-- Incluye jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Incluye Popper.js -->
<script src="/js/popper.min.js"></script>
<!-- Incluye el archivo JavaScript de Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>