<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
      <div class="container">
          <header>
              <%- include('../partials/header'); %>
          </header>
          <main>

            
            <div class="row info p-3 mt-2" style="border-radius: 10px;">
              <div class="col-md-3">
                <label for="inputState" class="form-label">Proveedor</label>
                <select name="" id="" class="form-control">
                  <option value="0">Sin proveedor</option>
                  <% for(var i=0; i<proveedores.length; i++) { %>
                      <option value="<%= proveedores[i].idProveedor %>"><%= proveedores[i].nombreProveedor %></option>
                  <% } %>
              </select>
              </div>
              <div class="col-md-3">
                <label for="numeroFactura" class="form-label">N° Factura</label>
                <input type="text" name="" id="" class="form-control">
              </div>
              <div class="col-md-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" name="" id="" class="form-control">
              </div>
              <div class="col-md-3 d-flex align-items-end justify-content-end">
                <button class="btn btn-success btn-sm" onclick="paciencia()">Guardar</button>
              </div>
            </div>
            <div class="row info bg-light mt-5 p-3">
                <div class="col-md-4">
                  <label for="inputEmail4" class="form-label">Descripción</label>
                  <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-4">
                  <label for="inputPassword4" class="form-label">Familia</label>
                  <select name="" id="" class="form-control">
                    <option value="0">Sin familia</option>
                    <% for(var i=0; i<familias.length; i++) { %>
                        <option value="<%= familias[i].idFamilia %>"><%= familias[i].nombreFamilia %></option>
                    <% } %>
                  </select>
                </div>
                
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Medidas</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="">
                </div>
                <div class="col-md-3">
                  <label for="inputCity" class="form-label">Stock</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-3">
                  <label for="inputCity" class="form-label">Precio</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-2">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="col-md-4 d-flex align-items-end justify-content-end">
                  <button role="button" class="btn btn-success btn-sm" onclick="paciencia()">Guardar Item</button>
                </div>
              </div>
            <div class="row">
                <div class="col-md-4 bg-light info">
                    <div class="form-group">
                        <label for="image">Imagen</label>
                        <input type="file" name="" id="" class="form-control">
                    </div>
                    <div class="galeria">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW9_s4FbkhJwnM056U1vGwwSAeh1FEbciUPbYpKGyqvaQjur_SRfjLb8vQbknNzPTVhkM&usqp=CAU" alt="">
                        <img src="https://nipazrepuestos.cl/wp-content/uploads/2022/05/amortiguadores-autos.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>askdas</li>
                                <li>akjsda</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
          </main>
      
        
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
      </div>
        <!-- Incluye jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Incluye Popper.js -->
        <script src="/js/popper.min.js"></script>
        <!-- Incluye el archivo JavaScript de Bootstrap -->
        <script src="/js/bootstrap.min.js"></script>
    </div>
</body>
</html>